<% layout('layouts/boilerplate') %>
<div class="mt-5 container">
<%- include('../partials/flash')%>
<div class="row">
	<h1 class="text-center">Edit Campground</h1>
	<div class="col-md-6 offset-md-3">
		<form
			class="validated-form"
			action="/campgrounds/<%=campground._id %>?_method=PUT"
			method="POST"
			novalidate
			enctype="multipart/form-data"
		>
			<!-- Everything in the req.body will be stored under campground[] -->
			<div class="mb-3">
				<label class="form-label" for="title">Title: </label>
				<input
					class="form-control"
					id="title"
					type="text"
					name="campground[title]"
					value="<%= campground.title %>"
					required
				/>
				<div class="valid-feedback">Looks good!</div>
			</div>

			<div class="mb-3">
				<label class="form-label" for="location">Location: </label>
				<input
					class="form-control"
					id="location"
					type="text"
					name="campground[location]"
					value="<%= campground.location %> "
					required
				/>
				<div class="valid-feedback">Looks good!</div>
			</div>

			<div class="mb-3">
				<label for="basic-addon1" class="form-label">Campground Price</label>

				<div class="input-group">
					<span class="input-group-text" id="basic-addon1">$</span>
					<input
						type="Number"
						class="form-control"
						aria-describedby="basic-addon1"
						value="<%= campground.price %>"
						name="campground[price]"
						required
					/>
					<div class="valid-feedback">Looks good!</div>
				</div>
			</div>

			<div class="mb-3">
				<label class="form-label" for="description">Description: </label>
				<textarea
					class="form-control"
					id="description"
					type="text"
					name="campground[description]"
					required
				>
				<%= campground.description %>
				</textarea
				>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<label for="image">Upload Image(s):</label>
			<div class="custom-file">
				<input type="file" name="image" multiple class="custom-file-input" id="image">
				<label class="custom-file-label" for="image">Add Image(s)...</label>
			  </div>
			</div>
			<div class="mb-3">
				<% campground.images.forEach(function(img, i){ %>
				 <img src="<%=img.thumbnail %> " class="img-thumbnail"  alt="">
				 <div class="form-check-inline">
					 <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
				 </div>
				 <label for="image-<%=i%> ">Delete?</label>
					<% })%>  
			</div>
			<div class="mb-3">
				<button class="btn btn-info" type="submit">Update Campground</button>
			</div>
		</form>
		<a href="/campgrounds/<%= campground._id %> ">Back To campground</a>
	</div>
</div>
</div>
