<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="stylesheets/index.css">
<div id="cluster-map"></div>
<div class="container mt-3">

<h1 class=" mb-2 text-center">Campgrounds</h1>

<form class="d-flex mb-3 search" action="/campgrounds" >
	<input class="form-control me-2" name="q" type="search" placeholder="Search Campgrounds..." aria-label="Search">
	<button class="btn btn-outline-dark" type="submit">Search</button>
  </form>
  
  <%- include('../partials/flash')%>
<% for(let campground of campgrounds) {%>
<div class="card mb-3">
	<div class="row">
		<div class="col-md-4">
		<% if(campground.images.length){  %> 	
  
		
			<img src="<%= campground.images[0].url %> " class="img-fluid" />
			<% 	}else{ %> 
				<img src="https://res.cloudinary.com/yelpcampprojectimages/image/upload/v1654652591/yelpCamp/z8oovduzjogevaq1wfqd.jpg " class="img-fluid" />
				<% } %> 
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title"><%= campground.title %></h5>
				<p class="card-text"><%= campground.description %></p>
				<p class="card-text">
					<small class="text-muted"> <%= campground.location %> </small>
				</p>
				<a href="/campgrounds/<%= campground._id %> " class="btn btn-dark"
					>View <%= campground.title %>
				</a>
			</div>
		</div>
	</div>
</div>
<%}%>

</div>
<script>
	const mapBoxToken = '<%- process.env.MAPBOX_TOKEN  %>' 
	const campgrounds = {features: <%- JSON.stringify(campgrounds) %>}
	
</script>
<script src="/js/clusterMap.js"></script>
